{% extends "base.html" %}

{% block content %}

{% if validlink %}
<div id="new_password_div">
  <h3>Задайте новый пароль</h3>
  <form method="POST">
    {% csrf_token %}
    <div>Новый пароль</div>
    {{ form.new_password1 }}
    <div>Повторите новый пароль</div>
    {{ form.new_password2 }}
    <div id="reset_errors">
        {% for key, value in form.errors.items %}
           {{value}}
        {% endfor %}
    </div>
    <button type="submit">Изменить пароль</button>
  </form>
</div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}