{% extends 'base.html' %}
{% block title %}<title>MailTasker - Главная</title>{% endblock %}
{% block content %}
    <div class="index">
    <div style="height: 40px;"><h2>Сервис Mailtasks для email-рассылок</h2></div>
    <p>Данные для входа:</p>
    <p>Логин: test123</p>
    <p>Пароль: 12345</p>
    <h4>Список рассылки</h4>
    <p>Создать список рассылки можно по <a href="{% url 'mailtasks:new_subscribers' %}">ссылке</a></p>
    <p>Для создания списка нужно задать имя списка. Перед заполнением списка, нужно указать дополнительные переменные,
        которые можно будет использовать в шаблонах. Email включен в список по умолчанию.
        Имя тега должно содержать только английские буквы, цифры, нижнее подчеркивание. Если дополнительные переменные
        не требуются, то поля переменных следуюет оставить пустыми и нажать "Продолжить".</p>
    <p>После этого будет создан пустой список рассылки, в который будут включены, указанные ранее, переменные.</p>
    <p>Когда данные будут заполнены, список можно сохранить и перейти к созданию шаблона.</p>
    <h4>Шаблоны</h4>
    <p>Создать шаблон можно по <a href="{% url 'mailtasks:new_template' %}">ссылке</a>.</p>
    <p>При создании шаблона необходимо заполнить имя шаблона, тему письма, контент шаблона.</p>
    <p>Шаблон можно загрузить из HTML файла. Сервис хранит только html код, изображения и дополнительные файлы необходимо размещать на внешних серверах.</p>
    <p>Во время создания шаблона есть возможность загрузить переменные из списка рассылки.
        Они динамически загрузятся и в редакторе начнет работать функция автозаполнения. Для использования нужно ввести символ "{",
        после этого появится выпадающий список переменных. В режиме редактирования html автозаполнение не работает.</p>
    <p>В теме письма также можно использовать переменные, но автозаполнение также не работает.</p>
    <p>Для создания рассылки используется урезанная версия шаблонов Django, в которой работают только переменные. Выражения "{%" игнорируются.</p>
    <p>При отправке формы проверяется корректность шаблона. </p>
    <h4>Настройка SMTP</h4>
    <p>Прежде чем создать задание, нужно настроить <a href="{% url 'mailtasks:set_smtp' %}">SMTP сервер.</a></p>
    <h4>Задания</h4>
    <p>Когда созданы шаблон и список рассылки, настроен SMTP, можно создавать задание.</p>
    <p>Для создания задания, нужно указать его имя. Выбрать список рассылки и шаблон.</p>
    <p>При выборе списка рассылки и шаблона проверяется их совместимость. Если в шаблоне используются переменные, которых нет в
    списке рассылки, сервис сообщит об этом. Если в шаблоне есть переменные с ошибкой, об этом также будет показана информация.</p>
    <p>После создания задания формируется список писем для рассылки и открывается детальная информация о задании. Последующие правки в списке и шаблоне,
        которые использовались для формирования задачи не будут влиять на уже созданное задание.</p>
    <p>На данном этапе есть возможность сразу запустить задачу или запланировать выполнение на будущее.</p>
    <p>Состояния заданий:</p>
        <ul>
            <li>Запланировано - будет запущено по расписанию.</li>
            <li>Отправляется - письма отправляются в даннный момент.</li>
            <li>Завершено - все письма отправлены. Удалить такое задание нельзя.</li>
            <li>Ошибка соединения - в момент отправки возникли проблемы с соединением с сервером.</li>
            <li>Ошибка шаблона - эта ошибка возникать не должна, т.к. шаблоны проверяются на этапе создания.</li>
            <li>Подготовка задания - формирование списка писем.</li>
            <li>Готово к отправке - список писем сформирован и ожидает запуска.</li>
        </ul>
    </div>
{% endblock %}