{% extends 'base.html' %}
{% block title %}<title>MailTasker - Списки рассылок</title>{% endblock %}
{% block content %}
      <div class="list_div"><h3>Списки рассылок</h3></div>
      {% if lists %}
            <table data-type="list">
                  <tr>
                        <td>Название</td>
                        <td>Количество адресов</td>
                  </tr>
            {% for list in lists %}
                  <tr class="clickable-row" data-href="{% url 'mailtasks:subscribers_list_detail' pk=list.id %}">
                        <td>{{ list.name }}</td>
                        <td>{{ list.subscribers.count }}</td>
                  </tr>
            {% endfor %}
            </table>
      {% else %}
            <div class="list_div">Список рассылок пуст.</div>
      {% endif %}
<script type="text/javascript">
    $('.clickable-row').click(function() {
        window.location = $(this).data('href');
    });
</script>
{% endblock %}